*{
  margin: 0;
}
.app{
  width: 100vw;
  height: 100vh;
  display: flex; flex-direction: column;  
  background: linear-gradient(plum,cyan);

}
.main{
  flex-grow: 1;
}
.login-box{
  margin: 20px auto;
  border: solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  width: 300px;
  padding: 4px;
  text-align: center;
  opacity: 0.9;
}
.login-box input{
  margin: 2px;
  height: 20px;
  width: 200px;
  line-break: strict;
}
.login-box input::after{
  content: "\a";
  white-space: pre;
}
.login-box button{
  margin: 2px;
  width: 200px;
  height: 26px;
}
.Navbar{
  background-color: plum;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid black;
  box-shadow: 0 0 5px black;
}
.Navbar ul{
  display: flex;
}
.Navbar ul li{
  list-style: none;
  padding: 0 5px;
}